@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Life</h1>
    <p class="lead">Welcome to Student Life.Here you can see latest announcements, check your academic schedule and get in touch with colelagues and teachers!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>You have an account, and you have an account...</h2>
        <p>
            Use the account provided to you by the University IT Department to log in and start using the app.
        </p>
        <p><a class="btn btn-default" href="https://sinu.utcluj.ro">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For students</h2>
        <p>Check your enrollments, grades and get in touch with your colleagues and teachers.</p>
        <p><a class="btn btn-default" href="/Account/Login">Start collaborating &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For teachers</h2>
        <p>Easily send project announcements to individual groups, year of study or to all students of the university. Register your grades and more</p>
        <p><a class="btn btn-default" href="/Account/Login">Discover more &raquo;</a></p>
    </div>
</div>